openapi: 3.0.4
info:
  title: URL to Markdown
  description: >-
    URL to Markdown is a powerful tool for converting any webpage into clean,
    readable Markdown format. It preserves the document structure including
    headings, links, lists, and images.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/urltomarkdown:
    post:
      summary: Convert URL to Markdown
      description: Convert a webpage URL to Markdown format
      operationId: urltomarkdown
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  url: https://example.com/blog/getting-started
                  title: Getting Started Guide
                  markdown: >-
                    # Getting Started Guide


                    Welcome to our platform. This guide will help you get up and
                    running quickly.


                    ## Prerequisites


                    Before you begin, make sure you have:


                    - A registered account

                    - API credentials

                    - Node.js 18 or higher


                    ## Installation


                    Install the package using npm:


                    ```

                    npm install example-sdk

                    ```


                    ## Quick Start


                    Here's a simple example to get you started:


                    1. Import the SDK

                    2. Initialize with your API key

                    3. Make your first request


                    ## Next Steps


                    Check out our [documentation](https://example.com/docs) for
                    more details.


                    ![Example
                    Screenshot](https://example.com/images/screenshot.png)
                  wordCount: 87
                  imageCount: 1
                  linkCount: 1
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL of the webpage to convert to Markdown
                includeImages:
                  type: boolean
                  description: Whether to include image references in the Markdown output
                includeLinks:
                  type: boolean
                  description: Whether to include hyperlinks in the Markdown output
              required:
                - url
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  url: https://example.com/blog/getting-started
  includeImages: true
  includeLinks: true
